  <main class="background">
      <section class="title">
        <h1>Tic-Tac-Toe</h1>
      </section>
        <!-- Show whose turn it is -->
        <section class="display">
                Player <span class="display-player playerX">X</span>'s turn
        </section>
        <!-- Tic-Tac-Toe Grid -->
        <section class="container">
          <!-- Row 01 -->
          <div class="row row-01">
            <div class="tile tile-00" data-index="0"></div>
            <div class="tile tile-01" data-index="1"></div>
            <div class="tile tile-02" data-index="2"></div>
          </div>
          <!-- Row 02 -->
          <div class="row row-02">
            <div class="tile tile-03" data-index="3"></div>
            <div class="tile tile-04" data-index="4"></div>
            <div class="tile tile-05" data-index="5"></div>
          </div>
          <!-- Row 03 -->
          <div class="row row-03">
            <div class="tile tile-06" data-index="6"></div>
            <div class="tile tile-07" data-index="7"></div>
            <div class="tile tile-08" data-index="8"></div>
          </div>
          <div class='results'>
            <p>Wins: </p>
            <p>Losses: </p>
            <p>Ties: </p>
          </div>
        </section>
      <section class="display announcer hide"></section>
          <div class="section">
            <a href="/login/logout" class="btn red darken-1">
              <i class="fab fa-google left"></i>Log Out
            </a>
          </div>
      
    </main>